# LaTeX 编译产物
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
main.pdf

# 不要同步进 Overleaf：
# 这两个文件各自含有完整的 \documentclass，Overleaf 会认成第二个主文档
ccint-wrapup-standalone.tex
ccint-overleaf.zip
